@using Etymology.Data.Models

@model AnalyzeResult
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{ var (chinese, etymologies, oracles, bronzes, seals, liushutongs) = this.Model; }

<div class="row mx-0 bg-info row-eq-height etymology-nav" id="@chinese">
    <div class="col-md-3  col-sm-4 p-0">
        <div class="p-1">
            @{ Etymology etymology = etymologies.First(); }
            <p><b>Traditional:</b> <span class="text-lg">@etymology.Traditional</span></p>
            @{string traditionalUnicode = ((int)etymology.Traditional.FirstOrDefault()).ToString("X4");}
            <p><b>Traditional unicode:</b> <a href="http://www.unicode.org/cgi-bin/GetUnihanData.pl?codepoint=@traditionalUnicode" target="_blank">@traditionalUnicode</a></p>
            <p><b>Older traditional character:</b> @etymology.OldTraditional</p>
            <p><b>Simplified:</b> <span class="text-lg">@etymology.Simplified</span></p>
            @{string simplifiedUnicode = ((int)etymology.Simplified.FirstOrDefault()).ToString("X4");}
            <p><b>Simplified unicode:</b> <a href="http://www.unicode.org/cgi-bin/GetUnihanData.pl?codepoint=@simplifiedUnicode" target="_blank">@simplifiedUnicode</a></p>
            <p><b>Simplified character index number:</b> @etymology.Index8105</p>
            <p><b>Main pronunciation:</b> @etymology.Pinyin</p>
            <p><b>Other pronunciations:</b> @etymology.PinyinOther</p>
            <p><b>Character decomposition:</b> @etymology.Decomposition</p>
            <p><b>Decomposition notes:</b> @etymology.DecompositionClarified</p>
            <p><b>Original meaning:</b> @etymology.OriginalMeaning</p>
            <p><b>English senses:</b> @etymology.EnglishSenses</p>
            <p><b>Usage example:</b> @etymology.WordExample</p>
            <p><b>Importance by frequency:</b> @etymology.FrequencyOrder</p>
            <p><b>Importance in learning:</b> @etymology.LearnOrder</p>
            <p><b>Classification:</b> @etymology.Classification</p>
            <p><b>Simplification rule:</b> @etymology.SimplificationRule</p>
            <p><b>Simplification rule explained:</b> @etymology.SimplificationClarified</p>
            <p><b>Variant rule:</b> @etymology.VariantRule</p>
            <p><b>Variant rule clarification:</b> @etymology.VariantClarified</p>
            <p><b>Applied rules:</b> @etymology.AppliedRule</p>
            <p><b>New font rule:</b> @etymology.FontRule</p>
            <a class="btn btn-warning ladda-button" data-style="zoom-in" href="https://github.com/Dixin/Etymology/issues/new" target="_blank"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Report issue 报错或留言</a>
        </div>
    </div>
    <div class="col-md-9 col-sm-8 etymology-result bg-primary p-1" id="etymologyCharacters">
        <h3><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Oracle characters 甲骨文 (@oracles.Length)</h3>
        @if (!oracles.Any())
        {
            <p>There is no known oracle characters found. 没有找到已知的甲骨文.</p>
        }
        else
        {
            <ul class="list-inline list-unstyled">
                @foreach (Oracle character in oracles)
                {
                    <li class="text-center">
                        <div id="etymology@(character.FormattedId)" data-toggle="modal" data-target="#etymologyModal">@character.FormattedId</div>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#etymologyModal"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> @character.FormattedId</button>
                    </li>
                }
            </ul>
        }
        <hr />
        <h3><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span> Bronze characters 金文 (@bronzes.Length)</h3>
        @if (!bronzes.Any())
        {
            <p>There is no known bronze characters found. 没有找到已知的金文.</p>
        }
        else
        {
            <ul class="list-inline list-unstyled">
                @foreach (Bronze character in bronzes)
                {
                    <li class="text-center">
                        <div id="etymology@(character.FormattedId)" data-toggle="modal" data-target="#etymologyModal">@character.FormattedId</div>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#etymologyModal"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> @character.FormattedId</button>
                    </li>
                }
            </ul>
        }
        <hr />
        <h3><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Seal characters 说文解字的篆字 (@seals.Length)</h3>
        @if (!seals.Any())
        {
            <p>There is no known seal characters found. 没有找到已知的说文解字的篆字.</p>
        }
        else
        {
            <ul class="list-inline list-unstyled">
                @foreach (Seal character in seals)
                {
                    <li class="text-center">
                        <div id="etymology@(character.FormattedId)" data-toggle="modal" data-target="#etymologyModal">@character.FormattedId</div>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#etymologyModal"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> @character.FormattedId</button>
                    </li>
                }
            </ul>
        }
        <hr />
        <h3><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Liushutong characters 六书通的篆字 (@liushutongs.Length)</h3>
        @if (!liushutongs.Any())
        {
            <p>There is no known Liushutong characters found. 没有找到已知的六书通的字.</p>
        }
        else
        {
            <ul class="list-inline list-unstyled">
                @foreach (Liushutong character in liushutongs)
                {
                    <li class="text-center">
                        <div id="etymology@(character.FormattedId)" data-toggle="modal" data-target="#etymologyModal">@character.FormattedId</div>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#etymologyModal"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> @character.FormattedId</button>
                    </li>
                }
            </ul>
        }
    </div>
    <style type="text/css">
        @foreach (Oracle character in oracles)
        {
            <text>#@(character.FormattedId), #etymology@(character.FormattedId) { background-image: url('data:image/svg+xml;base64,@this.Html.Raw(character.ImageVectorBase64)') } </text>
        }
        @foreach (Bronze character in bronzes)
        {
            <text>#@(character.FormattedId), #etymology@(character.FormattedId) { background-image: url('data:image/svg+xml;base64,@this.Html.Raw(character.ImageVectorBase64)') } </text>
        }
        @foreach (Seal character in seals)
        {
            <text>#@(character.FormattedId), #etymology@(character.FormattedId) { background-image: url('data:image/svg+xml;base64,@this.Html.Raw(character.ImageVectorBase64)') } </text>
        }
        @foreach (Liushutong character in liushutongs)
        {
            <text>#@(character.FormattedId), #etymology@(character.FormattedId) { background-image: url('data:image/svg+xml;base64,@this.Html.Raw(character.ImageVectorBase64)') } </text>
        }
    </style>
</div>