@using Etymology.Data.Models

@model AnalyzeResult
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{ var (chinese, etymologies, oracles, bronzes, seals, liushutongs) = this.Model; }

<div class="row mx-0 bg-info row-eq-height" id="@chinese">
    <div class="col-md-3  col-sm-4 p-1">
        @{ Etymology etymology = etymologies.First(); }
        <p><b>Traditional:</b> <span class="text-lg">@etymology.Traditional</span></p>
        @{string traditionalUnicode = ((int)etymology.Traditional.FirstOrDefault()).ToString("X4");}
        <p><b>Traditional unicode:</b> <a href="http://www.unicode.org/cgi-bin/GetUnihanData.pl?codepoint=@traditionalUnicode" target="_blank">@traditionalUnicode</a></p>
        <p><b>Simplified:</b> <span class="text-lg">@etymology.Simplified</span></p>
        @{string simplifiedUnicode = ((int)etymology.Simplified.FirstOrDefault()).ToString("X4");}
        <p><b>Simplified unicode:</b> <a href="http://www.unicode.org/cgi-bin/GetUnihanData.pl?codepoint=@simplifiedUnicode" target="_blank">@simplifiedUnicode</a></p>
        <p><b>Older character:</b> @etymology.OldKai</p>
        <p><b>Variant rule:</b> @etymology.Variants796_810</p>
        <p><b>Meanings of variants:</b> @etymology.VariantMeaning</p>
        <p><b>Simplification rule:</b> @etymology.SimplificationRule</p>
        <p><b>Modern invention:</b> @etymology.SimplificationNewOld</p>
        <p><b>Compound rule:</b> @etymology.RuleBase1753</p>
        <p><b>Applied rules:</b> @etymology.RuleBaseObserved</p>
        <p><b>Decomposition:</b> @etymology.Decomposition</p>
        <p><b>Original meaning:</b> @etymology.Meaning</p>
        <p><b>Example in use:</b> @etymology.CompoundExample</p>
        <p><b>Simplified character number:</b> @etymology.SimplifiedCharacterNumber</p>
        <p><b>Modern meanings:</b> @etymology.EnglishMeanings</p>
        <p><b>Standard name of character:</b> @etymology.LiuShuStandardName</p>
        <p><b>Class of character:</b> @etymology.MeaningClass</p>
        <p><b>Original:</b> @etymology.PictographName</p>
        <p><b>Main pronunciation:</b> @etymology.Pinyin1</p>
        <p><b>Other pronunciations:</b> @etymology.PinyinN</p>
    </div>
    <div class="col-md-9 col-sm-8 etymology-result bg-primary p-1">
        <h3><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Oracle characters 甲骨文 (@oracles.Length)</h3>
        @if (!oracles.Any())
        {
            <p>There is no known oracle characters found. 没有找到已知的甲骨文.</p>
        }
        else
        {
            <ul class="list-inline list-unstyled">
                @foreach (Oracle oracle in oracles)
                {
                    <li class="text-center">
                        <div class="etymology-@oracle.FormattedId"></div>
                        <p>@oracle.FormattedId</p>
                    </li>
                }
            </ul>
        }
        <hr />
        <h3>Bronze characters 金文 (@bronzes.Length)</h3>
        @if (!bronzes.Any())
        {
            <p>There is no known bronze characters found. 没有找到已知的金文.</p>
        }
        else
        {
            <ul class="list-inline list-unstyled">
                @foreach (Bronze bronze in bronzes)
                {
                    <li class="text-center">
                        <div class="etymology-@bronze.FormattedId"></div>
                        <p>@bronze.FormattedId</p>
                    </li>
                }
            </ul>
        }
        <hr />
        <h3>Seal characters 说文解字的篆字 (@seals.Length)</h3>
        @if (!seals.Any())
        {
            <p>There is no known seal characters found. 没有找到已知的说文解字的篆字.</p>
        }
        else
        {
            <ul class="list-inline list-unstyled">
                @foreach (Seal seal in seals)
                {
                    <li class="text-center">
                        <div class="etymology-@seal.FormattedId"></div>
                        <p>@seal.FormattedId</p>
                    </li>
                }
            </ul>
        }
        <hr />
        <h3>Liushutong characters 六书通的篆字 (@liushutongs.Length)</h3>
        @if (!liushutongs.Any())
        {
            <p>There is no known Liushutong characters found. 没有找到已知的六书通的字.</p>
        }
        else
        {
            <ul class="list-inline list-unstyled">
                @foreach (Liushutong liushutong in liushutongs)
                {
                    <li class="text-center">
                        <div class="etymology-@liushutong.FormattedId"></div>
                        <p>@liushutong.FormattedId</p>
                    </li>
                }
            </ul>
        }
    </div>
    <style type="text/css">
        @foreach (Oracle oracle in oracles)
        {
            <text>.etymology-@(oracle.FormattedId) { background-image: url('data:image/gif;base64,@this.Html.Raw(Convert.ToBase64String(oracle.Image))') } </text>
        }
        @foreach (Bronze bronze in bronzes)
        {
            <text>.etymology-@(bronze.FormattedId) { background-image: url('data:image/gif;base64,@this.Html.Raw(Convert.ToBase64String(bronze.Image))') } </text>
        }
        @foreach (Seal seal in seals)
        {
            <text>.etymology-@(seal.FormattedId) { background-image: url('data:image/gif;base64,@this.Html.Raw(Convert.ToBase64String(seal.Image))') } </text>
        }
        @foreach (Liushutong liushutong in liushutongs)
        {
            <text>.etymology-@(liushutong.FormattedId) { background-image: url('data:image/gif;base64,@this.Html.Raw(Convert.ToBase64String(liushutong.Image))') } </text>
        }
    </style>
</div>