@using Etymology.Common
@using Etymology.Data.Models
@using Etymology.Web.Server.Models; 

@model AnalyzeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{(string chinese, TimeSpan duration, AnalyzeResult[] results) = this.Model;}

<div class="etymology-nav" id="@chinese">
    @if (results.Length > 0)
    {
        <div class="alert alert-success m-0 etymology-alert" role="alert">
            @{int sum = results.Sum(result => result.CharacterCount);}
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>@chinese</strong>: Found <strong>@results.Length</strong> etymologies and <strong>@sum</strong> characters in <strong>@duration.TotalSeconds.ToString("0.000")</strong> seconds.
            @if (results.Length == 1)
            {
                (_, Etymology etymology, IList<Oracle> oracles, IList<Bronze> bronzes, IList<Seal> seals, IList<Liushutong> liushutongs) = results.Single();
                <span class="label label-success">@etymology.Title()</span>
            }
            else
            {
                foreach (AnalyzeResult result in results)
                {
                    (_, Etymology etymology, IList<Oracle> oracles, IList<Bronze> bronzes, IList<Seal> seals, IList<Liushutong> liushutongs) = result;
                    <a href="#@etymology.FormattedId()" class="btn btn-success btn-xs ladda-button">@etymology.Title()</a>
                }
            }
        </div>
    }
    else
    {
        string codePoint = chinese.TextToCodePoint();
        <div class="alert alert-warning m-0" role="alert"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <strong>@chinese</strong>: Found <strong>@results.Length</strong> etymologies and <strong>0</strong> characters in <strong>@duration.TotalSeconds.ToString("0.000")</strong> seconds. Unicode standard:  U+@codePoint <img src="https://www.unicode.org/cgi-bin/refglyph?24-@codePoint" />.</div>
    }
    @foreach (AnalyzeResult result in results)
    {
        (_, Etymology etymology, IList<Oracle> oracles, IList<Bronze> bronzes, IList<Seal> seals, IList<Liushutong> liushutongs) = result;
        <div class="row mx-0 bg-info row-eq-height border-top border-purple" id="@etymology.FormattedId()">
            <div class="col-md-3  col-sm-4 p-0">
                <div class="p-1">
                    <p><span class="label label-success">@etymology.Title()</span></p>
                    <p><b>Traditional in your browser 繁体字的浏览器显示:</b> <span class="text-lg">@etymology.TraditionalInitial</span></p>
                    <p><b>Traditional in Unicode standard 繁体字的Unicode标准:</b> <a href="https://www.unicode.org/cgi-bin/GetUnihanData.pl?codepoint=@etymology.TraditionalUnicode.ToHex()" target="_blank">U+@etymology.TraditionalUnicode.ToHex()</a> <img src="https://www.unicode.org/cgi-bin/refglyph?24-@etymology.TraditionalUnicode.ToHex()" /></p>
                    <p>
                        <b>Older traditional characters 旧繁体字/异体字:</b>
                        @if (!etymology.OldTraditional.IsNullOrWhiteSpace())
                        {
                            <span class="text-lg">
                                @foreach (string character in @etymology.OldTraditional.Characters())
                                {
                                    <text>@character</text>
                                }
                            </span>
                        }
                        else
                        {
                            <text>Not exist</text>
                        }
                    </p>
                    <p>
                        <b>Simplified in your browser 简体字的浏览器显示:</b>
                        @if (etymology.HasSimplified())
                        {
                            <span class="text-lg">@etymology.SimplifiedInitial</span>
                        }
                        else
                        {
                            <text>Not exist</text>
                        }
                    </p>
                    <p>
                        <b>Simplified in Unicode standard 简体字的Unicode标准:</b>
                        @if (etymology.HasSimplified())
                        {
                            <a href="https://www.unicode.org/cgi-bin/GetUnihanData.pl?codepoint=@etymology.SimplifiedUnicode.ToHex()" target="_blank">U+@etymology.SimplifiedUnicode.ToHex()</a>
                            <img src="https://www.unicode.org/cgi-bin/refglyph?24-@etymology.SimplifiedUnicode.ToHex()" />
                        }
                        else
                        {
                            <text>Not exist</text>
                        }
                    </p>
                    <p><b>Main pronunciation 主要发音:</b> @etymology.Pinyin</p>
                    <p><b>Other pronunciations 其它发音:</b> @etymology.PinyinOther.WithNotExist()</p>
                    <p><b>Original meaning 本义:</b> @etymology.OriginalMeaning</p>
                    <p><b>English senses 英语理解:</b> @etymology.EnglishSenses</p>
                    <p><b>Usage example 用法举例:</b> @etymology.WordExample</p>
                    <p><b>Importance by frequency 常用频率:</b> @etymology.FrequencyOrder</p>
                    <p><b>Shuowen 说文解字:</b> @seals.FirstOrDefault()?.ShuowenTraditional.WithNotApplicable()</p>
                    <p class="pre-inline"><b>Character decomposition 字形分解 <a href="https://dixin.github.io/Etymology/decomposition-of-chinese-character" target="_blank" title="Help: Decomposition of Chinese character">[?]</a>:</b> <br />@etymology.Decomposition.WithNotApplicable()</p>
                    <p class="pre-inline"><b>Decomposition notes 字形分解说明 <a href="https://dixin.github.io/Etymology/decomposition-of-chinese-character" target="_blank" title="Help: Decomposition of Chinese character">[?]</a>:</b> <br />@etymology.DecompositionClarified.WithNotApplicable()</p>
                    <p><b>Simplification rule 简化规则 <a href="https://dixin.github.io/Etymology/simplification-of-chinese-character" target="_blank" title="Help: Simplification of Chinese character">[?]</a>:</b> @etymology.SimplificationRule.WithNotApplicable()</p>
                    <p class="pre-inline"><b>Simplification rule explained 简化规则说明 <a href="https://dixin.github.io/Etymology/simplification-of-chinese-character" target="_blank" title="Help: Simplification of Chinese character">[?]</a>:</b> <br />@etymology.SimplificationClarified.WithNotApplicable()</p>
                    <p><b>Variant rule 异体规则 <a href="https://dixin.github.io/Etymology/simplification-of-chinese-character" target="_blank">[?]</a>:</b> @etymology.VariantRule.WithNotApplicable()</p>
                    <p class="pre-inline"><b>Variant rule clarification 异体规则说明 <a href="https://dixin.github.io/Etymology/simplification-of-chinese-character" target="_blank" title="Help: Simplification of Chinese character">[?]</a>:</b> <br />@etymology.VariantClarified.WithNotApplicable()</p>
                    <p><b>Applied rules 应用规则 <a href="https://dixin.github.io/Etymology/simplification-of-chinese-character" target="_blank" title="Help: Simplification of Chinese character">[?]</a>:</b> @etymology.AppliedRule.WithNotApplicable()</p>
                    <p><b>New font rule 新字形规则 <a href="https://dixin.github.io/Etymology/simplification-of-chinese-character" target="_blank" title="Help: Simplification of Chinese character">[?]</a>:</b> @etymology.FontRule.WithNotApplicable()</p>
                    <a class="btn btn-warning btn-xs ladda-button" data-style="zoom-in" href="https://github.com/Dixin/Etymology/issues/new" target="_blank" title="Help: Simplification of Chinese character"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Report issue 报错/留言</a>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 etymology-result bg-primary p-1" id="etymologyCharacters">
                <h3><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Oracle characters 甲骨文 (@oracles.Count)</h3>
                @if (!oracles.Any())
                {
                    <p>There is no known oracle characters found. 没有已知的甲骨文.</p>
                }
                else
                {
                    <ul class="list-inline list-unstyled">
                        @foreach (Oracle character in oracles)
                        {
                            <li class="text-center">
                                <div id="etymology@(character.FormattedId())" data-toggle="modal" data-target="#etymologyModal">@character.FormattedId()</div>
                                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#etymologyModal"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> @character.FormattedId()</button>
                            </li>
                        }
                    </ul>
                }
                <hr />
                <h3><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span> Bronze characters 金文 (@bronzes.Count)</h3>
                @if (!bronzes.Any())
                {
                    <p>There is no known bronze characters found. 没有已知的金文.</p>
                }
                else
                {
                    <ul class="list-inline list-unstyled">
                        @foreach (Bronze character in bronzes)
                        {
                            <li class="text-center">
                                <div id="etymology@(character.FormattedId())" data-toggle="modal" data-target="#etymologyModal">@character.FormattedId()</div>
                                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#etymologyModal"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> @character.FormattedId()</button>
                            </li>
                        }
                    </ul>
                }
                <hr />
                <h3><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Seal characters 说文解字的篆字 (@seals.Count)</h3>
                @if (!seals.Any())
                {
                    <p>There is no known seal characters found. 没有已知的说文解字的篆字.</p>
                }
                else
                {
                    <ul class="list-inline list-unstyled">
                        @foreach (Seal character in seals)
                        {
                            <li class="text-center">
                                <div id="etymology@(character.FormattedId())" data-toggle="modal" data-target="#etymologyModal">@character.FormattedId()</div>
                                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#etymologyModal"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> @character.FormattedId()</button>
                            </li>
                        }
                    </ul>
                }
                <hr />
                <h3><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Liushutong characters 六书通的字 (@liushutongs.Count)</h3>
                @if (!liushutongs.Any())
                {
                    <p>There is no known Liushutong characters found. 没有已知的六书通的字.</p>
                }
                else
                {
                    <ul class="list-inline list-unstyled">
                        @foreach (Liushutong character in liushutongs)
                        {
                            <li class="text-center">
                                <div id="etymology@(character.FormattedId())" data-toggle="modal" data-target="#etymologyModal">@character.FormattedId()</div>
                                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#etymologyModal"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> @character.FormattedId()</button>
                            </li>
                        }
                    </ul>
                }
            </div>
            <style type="text/css">
                @foreach (Oracle character in oracles)
                {
                    <text>#@(character.FormattedId()), #etymology@(character.FormattedId()) { background-image: url('data:image/svg+xml;base64,@this.Html.Raw(character.ImageVectorBase64)') } </text>
                }
        @foreach (Bronze character in bronzes)
        {
            <text>#@(character.FormattedId()), #etymology@(character.FormattedId()) { background-image: url('data:image/svg+xml;base64,@this.Html.Raw(character.ImageVectorBase64)') } </text>
        }
        @foreach (Seal character in seals)
        {
            <text>#@(character.FormattedId()), #etymology@(character.FormattedId()) { background-image: url('data:image/svg+xml;base64,@this.Html.Raw(character.ImageVectorBase64)') } </text>
        }
        @foreach (Liushutong character in liushutongs)
        {
            <text>#@(character.FormattedId()), #etymology@(character.FormattedId()) { background-image: url('data:image/svg+xml;base64,@this.Html.Raw(character.ImageVectorBase64)') } </text>
        }
            </style>
        </div>
    }
</div>